body {
  background-color: yellow;
  box-sizing: border-box;
  display: flex;
  width: 80vw;
  height: 125vh;
}

.container {
  width: 80vw;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: red;
  margin: 1rem auto;
  font-size: 2rem;
  transition: all 0.3s;
  position: relative;
}

.finish-btn {
  background-color: red;
  color: white;
}

.btn:hover {
  background-color: red;
  transform: translateY(-2px);
}

.btn::after {
  background-color: red;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  background-color: red;
  transform: scaleX(1.1) scaleY(1.2);
  opacity: 0;
}

.btn:active {
  background-color: red;
  transform: translateY(-1px);
  transform: scaleX(1.1) scaleY(1.2);
}
